/*-------Color Style--------*/
 button, input, .carousel-style-one.owl-theme .owl-controls .owl-nav div:hover, .carousel-style-two.owl-theme .owl-controls .owl-nav div, .pagination-content .pagination li a:hover, .pagination-content .pagination li.active a, .main-menu > li:hover > a, .dropdown > li:hover > a, .single-mega-item > li:hover > a,.mean-container .mean-nav ul li a:hover, .single-blog:hover .blog-text > h5, .breadcrumb-bar a:hover, .mark-icon::after, .sidebar-widget-lists > li a:hover, .tags-and-links .social-links a:hover i, .author-info > h4 a:hover, span.reply a, .footer-list a:hover, .recent-post-item:hover h5 a, .color-blue, .fixed.sticky .main-menu.text-white > li:hover > a, .footer-widget-list li a:hover, .footer-container .social-links-three > a:hover, ul.inside-menu > li:hover a  {
    color: #F05A66;
}
 .blue-bg, .separator, .separator span, .mobile-menu-area, .job-title::after, .advertise-content h3::before, .blog-date, .background-title, .photo-uploader .action, h4.title::after,  .modal button.close, .single-contact-icon, .social-links a:hover, .header-top, .mean-container .mean-nav {
    background: #F05A66;
}
a.button, button {
    background-color: #F05A66;
}
.dropdown, .mega-menu-area, .blog-image, .header-top.border-top{
    border-color: #F05A66;
}
.preview-2 .nivo-directionNav a:hover{background: rgba(240, 90, 102, 0.5) }
.color-overlay::before {background: rgba(240, 90, 102, 0.5) none repeat scroll 0 0;}
.bg-opacity-blue-70::before {background: rgba(240, 90, 102, 0.7) none repeat scroll 0 0;}